.itemsBlock{
    position: absolute;
    top: 70px;
    left: 90px;
    width: 350px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(240, 240, 240);
    box-shadow:0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    h5{
        padding: 10px;
        border-bottom: 1px solid #ebe9f1
    }
}