.login{
    width: 100%;
    height: 100vh;  
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            height: 80%;
        }
    }   
}
.sign-in{
    width: 430px;
    min-height: 100vh;
    padding: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #6e6b7b;
   .header{
       width: 70%;
       margin-top: 20px;
       h4{
           color: #39219b;
            
       }
   }
}
@media (max-width: 768px) {
    .login img{
        display: none;
    }
    
}